@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oswald:wght@500&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
div.background{
    height: 100vh;
    width: 100%;
    background-image: url(woman.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
div.logo-and-webname{
    height: 150px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 10%;
    left: 5%;
}
div.logo-and-webname img{
    height: 50px;
    width: 60px;
    border: 2px solid #FD288D;
    border-radius: 100px;
    box-shadow: 0 0 10px #FD288D;
}
div.logo-and-webname h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 1000;
    font-style: italic;
    color: #ffffff;
    letter-spacing: 5px;
}
div.big-font{
    height: 200px;
    width: 350px;
    
    position: absolute;
    left: 5%;
    top: 29%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.big-font h1{
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 10px;
}
div.sub-class-font{
    height: 100px;
    width: 500px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 63%;
    left: 5%;
    
}
div.sub-class-font p{
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
}
div.learnmore{
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: coral;*/
    position: absolute;
    top: 78%;
    left: 12%;
}
div.learnmore button{
    padding: 14px 65px 14px 65px;
    border-radius: 50px;
    background-color: #FD288D;
    border: none;
    transition: 0.3s ease;
}
div.learnmore button a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 50px;
    transition: 0.3s ease;
}
div.learnmore button:hover{
    box-shadow: 0 0 15px #FD288D;
}
div.learnmore button a:hover{
    color: #4D1349;
}